{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
About us
{% endblock %}

{% block body %}
  <h1>About us</h1>
  <h2>{% translate "Know Schedama.com" %}</h2>

  <div class="section p-2 shadow rounded">
    <p class="lead">{% translate "With Schedama you can easily create an event, set a title, location, date and time and share it using the generated link." %}</p>
    <p>Upon event creation, you'll have 2 links available</p>
    <ul>
      <li>A <b>participation link</b> users can utilize to view event information and register their participation and availability</li>
      <li>An <b>administration link</b> you can utilize to fully edit the event, change dates or location, remove participants or cancel the event</li>
    </ul>
  </div>
{% endblock %}