{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Learn more about Schedama and how it works - Schedama.com" %}{% endblock %}
{% block description %}{% translate "Learn more about Schedama, see how it works and how you can use it's features." %}{% endblock %}

{% block body %}
<div class="title-section">
  <h1 class="entering">About us <i class="fa-solid fa-face-smile"></i></h1>
  <h2 class="entering-1">{% translate "Know Schedama.com" %}</h2>
</div>

  <div class="section p-2">
    <div class="row entering-2">
      <div class="col-12 text-center">
        <p class="lead">{% translate "With Schedama you can easily create an event, enter all relevant information and share it using the generated link." %}</p>
      </div>
    </div>

    <div class="row p-3 my-5 appearing-2">
      <div class="col-12 text-center">
        <img class="img-fluid round-img shadow" src="{%static 'events/schedama_logo.png' %}" alt="Schedama logo" id="schedamaLogo">
        <img class="img-fluid round-img shadow visually-hidden" src="{%static 'events/schedama_logo_dark.png' %}" alt="Schedama logo" id="schedamaLogoDark">
      </div>
    </div>

    <div class="row mb-5 entering-3">
      <hr>
      <div class="col-12 text-center">
        <p class="lead">{% translate "Upon event creation Schedama will automatically generate 2 links" %}</p>
      </div>

      <div class="col-6 text-center">
        <i class="fa-solid fa-user-group"></i>
        <h5>{% translate "Participant link" %}</h5>
      </div>
      <div class="col-6 text-center">
        <i class="fa-regular fa-id-card"></i>
        <h5>{% translate "Administration link" %}</h5>
      </div>

      <div class="col-6 text-center">
        <p>{% translate "You can share this link with anyone you'd like to invite to the event" %}</p>
      </div>
      <div class="col-6 text-center">
        <p>{% translate "Use this link to manage your event, add and modify information or participants" %}</p>
      </div>
    </div>

    <div class="row mb-5 entering-4">
      <hr>
      <div class="col-12 text-center">
        <h3>{% translate "Tips" %}
        <p class="lead">
          <i class="fa-solid fa-comment"></i>&nbsp;
          {% translate "Click on" %}
          <a href="{% url 'history_view' %}" class="btn btn-primary">
            {% translate "History" %}
          </a> 
          {% translate "to find all the links to events you visited on your device" %}
        </p>
        <p class="lead">
          <i class="fa-solid fa-comment"></i>&nbsp;
          {% translate "When you create an event with multiple dates, the best date for the event is automatically selected based on attendance" %}
        </p>
        <p class="lead">
          <i class="fa-solid fa-comment"></i>&nbsp;
          {% translate 'Want to fully manage participants list? Check out "Configure Settings" when creating a new event.' %}<br>
          {% translate "You can also change this setting later from the administration page" %}
        </p>
      </div>
    </div>

    <div class="row mb-5 entering-4">
      <hr>
      <div class="col-12">
        <h3>{% translate "Features" %}</h3>
        <p class="lead">
          {% translate "Participants you invite to an event can see all relevant event information, such as:" %}
          <ul>
            <li>{% translate "Title" %}</li>
            <li>{% translate "Description" %}</li>
            <li>{% translate "Location" %}</li>
            <li>{% translate "Date and time" %}</li>
            <li>{% translate "Duration" %}</li>
            <li>{% translate "List of participants" %}</li>
          </ul>
        </p>

        <p class="lead">
          {% translate "Participants to your event can:" %}
          <ul>
            <li>{% translate "Indicate preferences and availability for the event" %}</li>
            <li>{% translate "See other participants and their preferences" %}</li>
            <li>{% translate "See participation on different proposed dates" %}</li>
            <li>{% translate "Share event by: displaying QR Code, send link via telegram, whatsapp or email, copy link to clipboard" %}</li>
            <li>{% translate "Add event to Google Calendar" %}</li>
          </ul>
        </p>

        <p class="lead">
          {% translate "Event themes" %}
          <ul>
            <li>{% translate "Choose a theme for your event to customize it's appearance" %}</li>
          </ul>
        </p>

        <p class="lead">
          {% translate "Private events" %}
          <span class="badge rounded-pill bg-accent"><i class="fa-solid fa-fire"></i>&nbsp;New feature</span>
          <ul>
            <li>{% translate "Now you can make private events and protect them with a password" %}</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="row mb-5 entering-4">
      <hr>
      <div class="col-12">
        <p class="lead">
          {% translate "Hi, I'm Alessandro, the developer behind this little project.<br>It's nice to see you here, I hope you're enjoying this web app." %} <br>
          {% translate "I know...it not perfect but I'm always trying to learn, improve and add new features." %} <br>
          {% translate "I work on it in my spare time so if you like it, spread the word and together we can make Schedama grow." %}
        </p>
      </div>
    </div>

  </div>
{% endblock %}