{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Manage your event on Schedama.com" %}{% endblock %}
{% block description %}{% translate "You can fully manage your event, add/remove participant, modify event dates, description, etc." %}{% endblock %}

{% block body %}
    <script src="{% static 'events/edit_event.js' %}"></script>

    {% if event.is_cancelled %}
        <span class="badge text-bg-danger w-100 fs-3 p-3 my-3">
            {% translate "Event Cancelled" %}
            <a href="#dangerZone" class="text-bg-danger">
                <span class="material-symbols-outlined">info</span>
            </a>
        </span>
    {% endif %}
    
    <div class="title-section">
        <h1 class="entering">{% translate "Event administration" %} <span class="material-symbols-outlined">badge</span></h1>
        <h2 class="entering-1">{% translate "Manage your event" %}</h2>
    </div>

    {% csrf_token %}
    <input type="text" id="item-id" value="{{ event.item_id }}" hidden>
    <input type="text" id="admin-key" value="{{ event.admin_key }}" hidden>

    <div class="section p-2">
        <div class="row m-3">
          <div class="col-6 d-flex">
            <button type="button" class="btn btn-light" id="btnEventSettings" data-bs-target="#modalEventSettings" data-bs-toggle="modal">
              <span class="material-symbols-outlined">settings</span>
              {% translate "Settings" %}
            </button>
          </div>
          <div class="col-6 d-flex">
            <a class="btn btn-light" href="{% url 'participate_view' event.item_id %}" target="_blank">
                <span class="material-symbols-outlined">group</span>
                {% translate "Participant page" %}
            </a>
          </div>
        </div>
      
        <!-- Event title -->
        <div class="row m-3 mt-5 entering-3" id="titleRow">
            <div class="col">
                <h4>{% translate "Title" %}</h4>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventTitle" placeholder="Event title" value="{{ event.title }}" maxlength="70">
                <label for="eventTitle">{% translate "Event title" %}</label>
                </div>
            </div>
        </div>

        <!-- Event description -->
        <div class="row m-3 entering-3" id ="descriptionRow">
            <div class="col">
              <h4>{% translate "Description" %} <span class="text-muted">({% translate "Optional" %})</span></h4>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <div class="form-floating">
                <textarea class="form-control" id="eventDescription" placeholder="{% translate 'Describe your event here' %}"
                maxlength="400" style="min-height:6em;">{{ event.description }}</textarea>
                <label for="eventDescription">{% translate "Description" %}</label>
              </div>
              <span id="descrCharCount">0</span>
            </div>
        </div>

        <!-- Event location -->
        <div class="row m-3 entering-4" id="locationRow">
            <div class="col-8">
                <h4>{% translate "Location" %}</h4>
            </div>
            <div class="col-4">
                <div class="form-check form-switch fs-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="checkEventLocation" {% if event.has_location %}checked{% endif %}>
                </div> 
            </div>
            <div class="w-100"></div>
            <div class="col" id="locationCol">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="eventLocation" value="{{ event.location }}" placeholder="Event location" maxlength="70">
                    <label for="eventLocation">{% translate "Event location" %}</label>
                </div>
            </div>
        </div>

        <!-- Event date and time -->
        <div class="row m-3 entering-4" id="dateRow">
            <div class="col">
                <h4>{% translate "Date and time" %}</h4>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="dateInp" min="{% now 'Y-m-d\TH:i' %}">
                    <label for="dateInp">{% translate "Enter a date" %}</label>
                </div>
            </div>
            {% for date in event.dates %}
                <div class="w-100"></div>
                <div class="col-8 col-md-4 mb-3">
                    <div class="form-floating mb-3">
                        <input type="datetime-local" class="form-control" name="eventDate" min="{% now 'Y-m-d\TH:i' %}" value="{{ date }}">
                        <label for="eventDate">{% translate "Event date" %}</label>
                    </div>
                </div>
                <div class="col-4 col-md-8 mb-3 fs-1 align-middle">
                    <span class="material-symbols-outlined fs-1 cursor-pointer remove-date text-danger">delete</span>
                </div>
            {% endfor %}
        </div>

        <!-- Event duration -->
        <div class="row p-3 mb-3" id="durationRow">
            <div class="col">
                <h4><span class="material-symbols-outlined">hourglass_empty</span> {% translate "Duration" %} <span class="text-danger">*</span></h4>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <p><span class="fs-3" id="durationText">{{ event.duration }}</span></p>
            </div>
            <div class="col-12 col-lg-4">
                <label for="durationDays">{% translate "Days" %}</label>
                <input type="range" class="form-range" id="durationDays" min="0" max="30" step="1" value="0">
            </div>
            <div class="col-12 col-lg-4">
                <label for="durationHours">{% translate "Hours" %}</label>
                <input type="range" class="form-range" id="durationHours" min="0" max="23" step="1" value="0">
            </div>
            <div class="col-12 col-lg-4">
                <label for="durationMinutes">{% translate "Minutes" %}</label>
                <input type="range" class="form-range" id="durationMinutes" min="0" max="59" step="1" value="0">
            </div>
        </div> 

        <!-- Participants -->
        <div class="row p-3 mb-3 overflow-auto entering-4">
            <h4>{% translate "Participants" %} (<span id="participantsNum">{{ event.participants|length }}</span>)</h4>
            <div class="col-12">
                <button type="button" class="btn btn-light" data-bs-target="#modalAddParticipant" data-bs-toggle="modal" id="btnOpenAddPartModal">
                    <span class="material-symbols-outlined">person_add</span>
                    {% translate "Add participant" %}
                </button>
            </div>
            <div class="col-12">
                <table class="table table-striped" id="participantTable">
                    <thead>
                        <tr>
                            <th><span class="material-symbols-outlined">person</span></th>
                            {% for date in event.dates %}
                                <th>{{ date }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in event.participants %}
                            <tr>
                                <td style="min-width: 20em;">
                                    <div class="row">
                                        <div class="col-1"><span class="material-symbols-outlined cursor-pointer remove-participant text-danger">delete</span></div>
                                        <div class="col-11"><input type="text" class="form-control" name="participantName" value="{{ participant.name }}" data-partuid="{{ participant.uid }}" maxlength="30"></div>
                                    </div>
                                    
                                </td>
                                {% for date in event.dates %}
                                    <td><input class="form-check-input" type="checkbox" value="{{date}}" {% if date in participant.dates%} checked {% endif %}></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if event.event_bin|length > 0 %}
            <div class="row p-3 mb-3 entering-4 d-flex" id="eventBin">
                <h4>{% translate "Removed participants" %}</h4>
                <div class="w-100"></div>
                {% for p in event.event_bin %}
                    <div class="col p-2 rounded shadow">
                        <span class="removed-participant">{{ p.name }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- Save event button -->
        <div class="d-grid col-6 col-lg-4 mx-auto mb-5">
            <button type="button" class="btn btn-success btn-lg visually-hidden" id="btnSaveEvent" disabled>
                <span class="material-symbols-outlined">save</span>
                {% translate "Save" %}
            </button>
        </div>

        <!-- Danger zone -->
        <div class="row danger-zone border border-2 border-danger rounded shadow p-2 mb-3" id="dangerZone">
            <h4 class="text-danger border-bottom border-danger"><span class="material-symbols-outlined fs-3">dangerous</span>Danger Zone</h4>
            {% if not event.is_cancelled %}
                <div class="col-12">
                    <p>
                        {% translate "By clicking <strong>Cancel event</strong> button you'll cancel this event." %}
                    </p>
                    <p>
                        <span class="material-symbols-outlined">warning</span>
                        {% translate "After clicking the button:" %}
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger">{% translate "The event will be flagged as <strong>Cancelled</strong>" %}</li>
                            <li class="list-group-item list-group-item-danger">{% translate "<strong>Participants</strong> permission will be deactivated so they <strong>will only be able to view the event</strong>" %}</li>
                            <li class="list-group-item list-group-item-danger">{% translate "The <strong>event will be forever deleted after 2 days</strong> without possibility to recover it" %}</li>
                            <li class="list-group-item list-group-item-danger">{% translate "<strong>It will still be possible to undo the cancellation</strong> in the following 2 days, before the event is deleted" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="col-6 border-top border-danger p-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkCancelEvent">
                        <label class="form-check-label" for="checkCancelEvent">
                            {% translate "I understand" %}
                        </label>
                    </div>
                </div>
                <div class="col-6 border-top border-danger p-2">
                    <button class="btn btn-danger float-end" id="btnCancelEvent" disabled="true">
                        <span class="material-symbols-outlined">cancel</span> 
                        {% translate "Cancel event" %}
                    </button>
                </div>
            {% else %}
                <h5 class="text-center">{% translate "The end is near!" %}</h5>
                <p class="fs-6 text-center my-3"><strong class="border border-danger p-2">{% translate "Expiration date:" %} {{ event.expiration_date|date:"d N Y"}} h.{{ event.expiration_date|time:"G:i"}}</strong></p>
                <div class="col-12">
                    <p>{% translate "Ok, calm down...the event is flagged as <strong>Cancelled</strong> and will be deleted after the expiration date." %}</p>
                    <p>{% translate "Sometimes it is useful to let things go...but if you changed your mind, it's not too late!" %}</p>
                    <p>
                        {% translate "To reacivate the event: " %}
                        <ul class="list-group list-group-numbered text-start">
                            <li class="list-group-item list-group-item-info">{% translate "Click on <strong>Reactivate event</strong> button below" %}</li>
                            <li class="list-group-item list-group-item-info">{% translate "<strong>Event will be reactivated</strong> and it's deletion will be canceled" %}</li>
                            <li class="list-group-item list-group-item-info">{% translate "After reactivation, <strong>check participants permission</strong> (permissions had been deactivated upon event cancellation)" %}</li>
                        </ul>
                    </p>
                </div>
                <div class="col-12 text-center m-3">
                    <button class="btn btn-success" id="btnReactivateEvent">
                        <span class="material-symbols-outlined">cycle</span> 
                        {% translate "Reactivate event" %}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Modal to configure event options -->
    <div class="modal fade" id="modalEventSettings" tabindex="-1">
        <div class="modal-dialog rounded">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span class="material-symbols-outlined">build</span> {% translate "Event settings" %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <h5>{% translate "Choose what participants are allowed to do" %}</h5>
                        <div class="mb-3">
                            <div class="form-check form-switch fs-4">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchAddParticipant" 
                            {% if event.settings.add_participant %}checked{% endif %} {% if event.is_cancelled %} disabled="true"{% endif %}>
                            <label class="form-check-label" for="switchAddParticipant">{% translate "Add participants" %}</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch fs-4">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchEditParticipant" 
                            {% if event.settings.edit_participant %}checked{% endif %} {% if event.is_cancelled %} disabled="true"{% endif %}>
                            <label class="form-check-label" for="switchRemoveParticipant">{% translate "Edit participants" %}</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch fs-4">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchRemoveParticipant" 
                            {% if event.settings.remove_participant %}checked{% endif %} {% if event.is_cancelled %} disabled="true"{% endif %}>
                            <label class="form-check-label" for="switchRemoveParticipant">{% translate "Remove participants" %}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to add a new participant -->
    <div class="modal fade" id="modalAddParticipant" tabindex="-1">
        <div class="modal-dialog rounded">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span class="material-symbols-outlined">person_add</span> {% translate "Add participant" %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="newPartName" maxlength="30" required>
                        <label for="newPartName">{% translate "Particpant name" %}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <button type="button" class="btn btn-light" id="btnConfirmAdd">{% translate "Confirm" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}