{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Page not found" %}
{% endblock %}

{% block body %}

    <div class="section p-2">
        <h1 class="text-center">{% translate "Page not found" %}</h1>
        <div class="row mb-2 text-center">
            <div class="col-12" style="font-size: 20vw; user-select: none;">
                404
            </div>
        </div>
        
        <h2 class="text-center">{% translate "This isn't the page you're looking for..." %}</h2>

        {% if item_id %}
            <script src="{% static 'events/error404.js' %}"></script>

            <p>
            {% translate "It looks like you were looking for and event" %} (ID: <span id="eventID">{{ item_id }}</span>) {% translate "but something went wrong." %}
            </p>
            <p>
            {% translate "Here some possible explanations, from the most likely:" %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">{% translate "The event URL is incorrect" %}</li>
                <li class="list-group-item list-group-item-info">{% translate "The event was deleted and it's no longer available in our systems" %}</li>
                <li class="list-group-item list-group-item-info">{% translate "The event never existed" %}</li>
                <li class="list-group-item list-group-item-info">{% translate "A cat, not necessarily yours, walked on your keyboard (you never know)" %}</li>
                <li class="list-group-item list-group-item-info">{% translate "The server is grumpy and stopped cooperating (ok, not likely)" %}</li>
                <li class="list-group-item list-group-item-info">{% translate "The server exploded (well...maybe not this one)" %}</li>
            </ul>
            </p>
        {% endif %}
    </div>
{% endblock %}