{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
History
{% endblock %}

{% block body %}
  <script src="{% static 'events/history.js' %}"></script>

  <h1>History</h1>
  <h2>{% translate "View recently opened events" %}</h2>

  <div class="section p-2">
    <p class="lead">{% translate "Here you can see events that you recently opened or created. A good place to look if you can't find the link..." %}</p>
    
    <div class="history-container row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mt-5"></div>
  </div>
{% endblock %}