{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "View events you opened recently - Schedama.com" %}{% endblock %}
{% block description %}{% translate "Events you visited or created on your device are visible here." %}{% endblock %}

{% block body %}
  <script src="{% static 'events/history.js' %}"></script>

  <div class="title-section">
    <h1 class="entering">{% translate "History" %} <i class="fa-solid fa-clock-rotate-left"></i></h1>
    <h2 class="entering-1">{% translate "View recently opened events" %}</h2>
  </div>

  <div class="section p-2">
    <p class="lead">{% translate "Here you can see events that you recently opened or created. A good place to look if you can't find the link..." %}</p>
    
    <div class="history-container row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mt-5">
      <div class="w-100">
        <div class="badge rounded-pill text-bg-dark col-10 col-lg-3 text-start p-2 mb-2">
          <i class="fa-solid fa-clock-rotate-left text-muted text-bg-light p-1 rounded"></i>&nbsp;{% translate "Last time you opened the event" %} <br>
        </div>
        <div class="badge rounded-pill text-bg-dark col-10 col-lg-3 text-start p-2 mb-2">
          <i class="fa-solid fa-user-group text-warning text-bg-light p-1 rounded"></i>&nbsp;{% translate "Participant link" %} <br>
        </div>
        <div class="badge rounded-pill text-bg-dark col-10 col-lg-3 text-start p-2 mb-2">
          <i class="fa-solid fa-id-card text-primary text-bg-light p-1 rounded"></i>&nbsp;{% translate "Administration link (if present)" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}