{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Create and share important events - Schedama.com" %}{% endblock %}
{% block description %}{% translate "With Schedama you can easily create your important events, save relevant information and share them with anyone." %}{% endblock %}

{% block body %}
  <div class="title-section">
    <h1 class="entering">{% translate "Welcome to Schedama" %}</h1>
    <h2 class="entering-1">{% translate "Create and share your important events with ease" %}</h2>
  </div>

  <p class="lead entering-2">{% translate "Schedama is a quick and intuitive way to create an event, share it and agree on a date and time." %}</p>

  <div class="row row-cols-1 row-cols-lg-3 mt-5">
    <div class="col mb-3 d-flex">
      <div class="card rounded index-card appearing-2">
        <div class="card-header">
          <h3 class="text-center"><i class="fa-regular fa-calendar-plus"></i></h3>
        </div>
        <div class="card-body">
          <h2 class="card-title text-center">{% translate "Create" %}</h2>
          <p class="card-text">{% translate "Easily create a new event by clicking " %}
          </p>
          <div class="d-grid gap-2 col-8 col-md-6 mx-auto">
            <a href="{% url 'new_event_view' %}" class="btn btn-primary p-2">{% translate "Create event"%}</a>
          </div>
        </div>
        <div class="card-footer text-center">
          <span class="fs-2">1</span>
        </div>
      </div>
    </div>
      
    <div class="col mb-3 d-flex">
      <div class="card rounded index-card appearing-3">
        <div class="card-header">
          <h3 class="text-center"><i class="fa-solid fa-share"></i></h3>
        </div>
        <div class="card-body">
          <h2 class="card-title text-center">{% translate "Share" %}</h2>
          <p class="card-text">{% translate "Share the event with whoever you like by sending them the <strong>Participation URL</strong>" %}</p>
        </div>
        <div class="card-footer text-center">
          <span class="fs-2">2</span>
        </div>
      </div>
    </div>

    <div class="col mb-3 d-flex">
      <div class="card rounded index-card appearing-4">
        <div class="card-header">
          <h3 class="text-center"><i class="fa-solid fa-id-card"></i></h3>
        </div>
        <div class="card-body">
          <h2 class="card-title text-center">{% translate "Manage" %}</h2>
          <p class="card-text">{% translate "You can fully manage your event by visiting the <strong>Administration URL</strong>." %}</p>
        </div>
        <div class="card-footer text-center">
          <span class="fs-2">3</span>
        </div>
      </div>
    </div>
  </div>


{% endblock %}