
{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    
  <!-- Manifest -->
  <link rel="manifest" href="{% static 'events/manifest.webmanifest' %}">

  <!-- Service worker registration -->
  <script>
    registerSW();

    async function registerSW() {
      if ('serviceWorker' in navigator) {
        try {
          await navigator.serviceWorker.register('{% url "sw" %}', {
            scope: "/"
        });
        } catch(err) {
          console.log('SW registration failed: ', err);
        }
      }
    }
  </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light" />
    <meta name="theme-color" content="#118ab2" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'events/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'events/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'events/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'events/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'events/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'events/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'events/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'events/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'events/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'events/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'events/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'events/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'events/favicon-16x16.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'events/favicon.ico' %}">
    <meta name="msapplication-TileImage" content="{% static 'events/ms-icon-144x144.png' %}">

    <!-- Manifest -->
    <meta name="msapplication-TileColor" content="#073b4c">
    <link rel="manifest" href="{% static 'events/manifest.json' %}">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
    <!-- CSS Stylesheet  -->
    <link rel="stylesheet" type="text/css" href="{% static 'events/main.css' %}">

    <!-- Google material symbols  -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <!-- Google font  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <!-- Django's Javascript catalog for i18n (translations) -->
    <script src="{% url 'javascript-catalog' %}"></script>

    <!-- Utility script available for all pages -->
    <script src="{% static 'events/utilities.js' %}"></script>
    
    <!-- CryptoJS library for encryption/decryption operations -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/aes.min.js" integrity="sha512-4b1zfeOuJCy8B/suCMGNcEkMcQkQ+/jQ6HlJIaYVGvg2ZydPvdp7GY0CuRVbNpSxNVFqwTAmls2ftKSkDI9vtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

</head>
  <body>
    <!-- Navigation bar for the website -->
    {% include 'events/navbar.html' %}

    <script>
      let currentMode = localStorage.getItem("currentMode");
      setMode(currentMode);
    </script>

    <!-- Body of the page  -->
    <div class="container">
      {% if pageMsg %}
        <div class="{{ pageMsg.class }} alert-dismissible fade show" role="alert">
          {{ pageMsg.text }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}

      {% block body %}
      {% endblock %}
    </div>

    <!-- JS bundle with Popper - Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>