{% load static %}
{% load i18n %}
<nav class="navbar navbar-light navbar-expand-md sticky-top shadow p-2 mb-3 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'events/schedama_logo.png' %}" id="navLogo" alt="Schedama logo" style="width:50px;height:50px;padding:0;margin:0;" class="round-img">
            <img src="{% static 'events/schedama_logo_dark.png' %}" id="navLogoDark" alt="Schedama logo" style="width:50px;height:50px;padding:0;margin:0;" class="round-img visually-hidden">
            schedama
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">
                    <i class="fa-solid fa-house"></i>&nbsp;Home
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'new_event_view' %}active{% endif %}" href="{% url 'new_event_view' %}">
                    <i class="fa-solid fa-calendar-plus"></i>&nbsp;{% translate "Create event" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'open_event_view' %}active{% endif %}" href="{% url 'open_event_view' %}">
                    <i class="fa-solid fa-share-nodes"></i>&nbsp;{% translate "Open event" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'history_view' %}active{% endif %}" href="{% url 'history_view' %}">
                    <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;{% translate "History" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'about_us_view' %}active{% endif %}" href="{% url 'about_us_view' %}">
                    <i class="fa-solid fa-face-smile"></i>&nbsp;{% translate "About us" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'privacy_view' %}active{% endif %}" href="{% url 'privacy_view' %}">
                    <i class="fa-solid fa-user-secret"></i>&nbsp;{% translate "Privacy" %}
                </a>
                <div class="nav-link cursor-pointer" id="darkModeToggle" aria-label="Dark mode toggle">
                    <i class="fa-solid fa-moon float-end me-0"></i>>
                </div>
            </div>
        </div>
    </div>
</nav>