{% load i18n %}
<nav class="navbar navbar-light navbar-expand-md shadow p-2 mb-5 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Schedama</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">
                    <span class="material-symbols-outlined">home</span>Home
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'new_event_view' %}active{% endif %}" href="{% url 'new_event_view' %}">
                    <span class="material-symbols-outlined">edit_calendar</span>{% translate "Create event" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'history_view' %}active{% endif %}" href="{% url 'history_view' %}">
                    <span class="material-symbols-outlined">history</span>{% translate "History" %}
                </a>
                <a class="nav-link {% if request.resolver_match.url_name == 'about_us_view' %}active{% endif %}" href="{% url 'about_us_view' %}">
                    <span class="material-symbols-outlined">info</span>{% translate "About us" %}
                </a>
                <div class="nav-link cursor-pointer" id="darkModeToggle" aria-label="Dark mode toggle">
                    <span class="material-symbols-outlined fs-2 float-end me-0">dark_mode</span>
                </div>
            </div>
        </div>
    </div>
</nav>