{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Open a shared event to participate - Schedama.com" %}{% endblock %}
{% block description %}{% translate "You can open an event shared with you by inserting the event identification code (event ID)." %}{% endblock %}

{% block body %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector("#btnSearch").onclick = openEvent;
    });

    function openEvent() {
        const eventInp = document.querySelector("#eventID");
        const eventID = eventInp.value;
        if (eventID.replaceAll(" ", "").length == 0) {
            setInvalid(eventInp, true);
            return false;
        }
        window.location.href = "{% url 'participate_view' 0 %}".replace("0","") + eventID;
    }
  </script>

  <div class="title-section">
    <h1 class="entering">{% translate "Open event" %}</h1>
    <h2 class="entering-1">{% translate "Enter event ID to participate" %}</h2>
  </div>

  <p class="lead entering-2">{% translate "You can open the participation page of the event by entering the event ID" %}*</p>

  <div class="row mb-5 text-center">
    <div class="col-12 col-lg-6">
        <div class="input-group">
            <input type="text" id="eventID" class="form-control" placeholder="{% translate 'Event ID' %}" maxlength="9" aria-label="{% translate 'Event ID' %}" aria-describedby="btnSearch">
            <button class="btn btn-light" id="btnSearch"><i class="fa-solid fa-magnifying-glass cursor-pointer"></i>&nbsp;{% translate "Go" %}</button>
        </div>
    </div>
  </div>

  <div class="row text-center rounded shadow">
    <div class="col card">
        <div class="card-body">
            <h3 class="card-title">* {% translate "How to find the event ID" %}</h3>
            <p class="lead">
                {% translate "Event ID is contained in the event participation URL" %}
            </p>
            <p>
                {% translate "As an example, you can see the event ID is the highlighted text in the following participant URL" %}<br>
                https://schedama.com/participate/<mark>3x4MpL3-</mark>
            </p>
        </div>
    </div>
  </div>

{% endblock %}