{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Event under maintenance" %}
{% endblock %}

{% block body %}

    <div class="title-section">
        <h1 class="text-center"><i class="fa-solid fa-person-digging"></i>&nbsp;{% translate "Event under maintenance" %}</h1>
    </div>

    <div class="section p-2">
        <div class="row mb-5 text-center">
            <div class="col-12" style="font-size: 8vw; user-select: none;">
                {% translate "Be right back..." %}
            </div>
            <h2>
                <i class="fa-solid fa-road-barrier"></i>
                {% translate "Administrator put the event under maintenance" %}
                <i class="fa-solid fa-road-barrier"></i>
            </h2>
             <h5>
                 {% translate "Event is under maintenance and will be visible again once the administrator disables maintenance mode" %}
             </h5>
        </div>

        <div class="row mb-3 text-center">
            <h3>{% translate "What can I do?? Click the button to discover:" %}</h3>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-6">
                <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#participantCollapse" aria-expanded="false" aria-controls="participantCollapse">
                    {% translate "I'm a participant" %}
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#administratorCollapse" aria-expanded="false" aria-controls="administratorCollapse">
                    {% translate "I'm the administrator" %}
                </button>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="collapse multi-collapse" id="participantCollapse">
                  <div class="card card-body text-start">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">{% translate "Contact the administrator, if you know how..." %}</li>
                        <li class="list-group-item list-group-item-info">{% translate "Pray until the event is visible again (might work)" %}</li>
                        <li class="list-group-item list-group-item-info">{% translate "Compulsively refresh this page (okay, maybe don't do this)" %}</li>
                        <li class="list-group-item list-group-item-info">{% translate "Keep calm and come back later" %}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="collapse multi-collapse" id="administratorCollapse">
                  <div class="card card-body text-start">
                      <p>
                        {% translate "If you'd like to make your event visible again, just:" %}
                      </p>
                      <ol>
                          <li>{% translate "Go to the <b>event administration</b> page" %}</li>
                          <li>{% translate "Click <b>Settings</b>" %}</li>
                          <li>{% translate "Disable <b>maintenance mode</b>" %}</li>
                          <li>{% translate "Save" %}</li>
                      </ol>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}