{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Participate
{% endblock %}

{% block body %}
    {% csrf_token %}
    <span id="item-id" hidden>{{ event.item_id }}</span>
    
    <!-- Passing event's data to javascript in a secure way -->
    {{ event.participants|json_script:"participants" }}
    {{ event.dates|json_script:"dates" }}
    <script>
        const participants = JSON.parse(document.getElementById('participants').textContent);
        const dates = JSON.parse(document.getElementById('dates').textContent);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'events/view_event.js' %}"></script>

    {% if event.is_cancelled %}
        <span class="badge text-bg-danger w-100 fs-3 p-3 my-3">{% translate "Event Cancelled" %}</span>
    {% endif %}

    <div class="title-section{% if event.is_cancelled %} opacity-50{% endif %}">
        <h1 class="entering event-title"><span id="eventTitle">{{ event.title }}</span></h1>
    </div>

    <!-- Countdown row -->
    <div class="row mb-3{% if event.is_cancelled %} opacity-50{% endif %}">
        <div class="row mx-auto event-clock-div clock-event-not-started justify-content-center rounded shadow display-5 p-3 position-relative" id="clockDiv">
            <div class="col-12 text-center mb-2" id="clockText">{% translate "Starts in" %}</div>
            <div class="col-3 col-lg-2 text-center">
                <span class="clockDays">-</span>{% translate "d" %}
            </div>
            <div class="col-3 col-lg-2 text-center">
                <span class="clockHours">--</span>h 
            </div>
            <div class="col-3 col-lg-2 text-center">
                <span class="clockMins">--</span>m 
            </div>
            <div class="col-3 col-lg-2 text-center">
                <span class="clockSecs">--</span>s
            </div>
        </div>
    </div>

    <!-- Event info row -->
    <div class="row mb-4{% if event.is_cancelled %} opacity-50{% endif %}">
        <div class="col-12 event-info-div display-5 p-3 shadow rounded">
            <div class="row mb-2">
                <div class="col-2 d-flex" id="shareEventCol"></div>
                <div class="col d-flex">
                    <a href="" class="btn btn-light" id="googleCalendarLink"><span class="material-symbols-outlined">event_upcoming</span>
                        {%translate "Add to Google Calendar" %}
                    </a>
                </div>
            </div>
            {% if event.has_location %}
                <!-- Event location -->
                <div class="row mb-4">
                    <div class="col">
                        <span class="material-symbols-outlined fs-1 text-danger">location_on</span> 
                        <a href="" id="eventLocation" target="_blank">{{ event.location }}</a>
                    </div>
                </div>
            {% endif %}
            
            <!-- Event date and time -->
            <div class="row mb-4">
                {% for date in event.dates_formatted %}
                    <div class="col-12 mb-2 date-formatted">
                        <span class="material-symbols-outlined fs-1 text-success">event</span> <span class="formattedDate">{{ date|date:"d N Y"}}</span>
                        <span class="material-symbols-outlined fs-1 text-success">watch</span> <span class="formattedTime">{{ date|time:"G:i"}}</span>
                    </div>
                {% endfor %}
            </div>
            
            <!-- Event duration -->
            <div class="row mb-4">
                <div class="col-12">
                    <span class="material-symbols-outlined fs-1 text-primary">timelapse</span>
                    <span id="durationMin" style="display:none;">{{ event.duration }}</span>
                    <span id="durationText"></span>
                </div>
            </div>

            <!-- Event participants -->
            <div class="row mb-4">
                <div class="col-4 mb-4">
                    <span class="material-symbols-outlined fs-1 text-warning">group</span> 
                    {{ event.participants|length }}
                </div>
                <div class="w-100"></div>
                <div class="d-grid col-6 col-lg-5 p-1 mx-auto">
                    <button type="button" class="btn btn-light btn-lg" data-bs-target="#modalList" data-bs-toggle="modal">
                        <span class="material-symbols-outlined">list_alt</span>
                        {% translate "List" %}
                    </button>
                </div>
                {% if event.settings.add_participant %}
                    <div class="d-grid col-6 col-lg-5 p-1 mx-auto">
                        <button type="button" class="btn btn-light btn-lg" data-bs-target="#modalParticipate" data-bs-toggle="modal" id="btnParticipate">
                            <span class="material-symbols-outlined">person_add</span>
                            {% translate "Participate" %}
                        </button>
                    </div>
                {% endif %}
            </div>
            {% if event.description != "" %}
                <!-- Event description  -->
                <hr>
                <div class="row mt-2 mb-4 fs-4">
                    <div class="col-12">
                        <span style="white-space: pre-wrap;" id="descriptionText">{{ event.description }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Chart area  -->
    <div class="row p-2 mb-3 event-chart-div shadow rounded{% if event.is_cancelled %} opacity-50{% endif %}" id="chartAreaDiv">
        <div class="col-12 col-lg-4 p-0">
            <div class="position-relative">
                <canvas id="totChart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-8 p-0">
            <div class="position-relative">
                <canvas id="datesChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Modal to see participant list -->
    <div class="modal modal-xl fade" id="modalList" tabindex="-1">
        <div class="modal-dialog rounded">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">
                    <span class="material-symbols-outlined">group</span>
                     {% translate "Participant list" %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row overflow-auto">
                        <table class="table table-striped" id="tableParticipants">
                            <thead>
                                <tr>
                                    {% if event.settings.remove_participant %}
                                        <th><span class="material-symbols-outlined">delete</span></th>
                                    {% endif %}
                                    <th><span class="material-symbols-outlined">person</span></th>
                                    {% for date in event.dates %}
                                        <th>{{ date }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in event.participants %}
                                    <tr>
                                        {% if event.settings.remove_participant %}
                                            <td><span class="material-symbols-outlined cursor-pointer text-danger" name="btnDeleteRow">delete</span></td>
                                        {% endif %}
                                        <td class="participant-name-td" data-partuid="{{ participant.uid }}">{{ participant.name }}</td>
                                        {% for date in event.dates %}
                                            <td><input class="form-check-input" type="checkbox" value="{{date}}" {% if date in participant.dates%} checked {% endif %} 
                                                {% if not event.settings.edit_participant %}disabled{% endif %}></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    {% if event.settings.edit_participant or event.settings.remove_participant%}
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCancelSaveParticipants">
                            <span class="material-symbols-outlined">delete</span> {% translate "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-primary" id="btnSaveParticipants" disabled>
                            <span class="material-symbols-outlined">save</span> {% translate "Save" %}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if event.settings.add_participant %}
        <!-- Modal to add a new participant -->
        <div class="modal fade" id="modalParticipate" tabindex="-1">
            <div class="modal-dialog rounded">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="material-symbols-outlined">person_add</span> {% translate "Join event" %}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="newPartName" maxlength="30" autocomplete="off" required>
                            <label for="newPartName">{% translate "Name" %}</label>
                        </div>
                        <h4>{% translate "Preferences" %}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <span class="material-symbols-outlined">delete</span> {% translate "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-light" id="btnConfirmParticipate">
                            <span class="material-symbols-outlined">person_add</span> {% translate "Join" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}