{% extends 'events/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Participate
{% endblock %}

{% block body %}
    {% csrf_token %}
    <span id="item-id" hidden>{{ event.item_id }}</span>

    <!-- Passing event's data to javascript in a secure way -->
    {{ event.participants|json_script:"participants" }}
    {{ event.dates|json_script:"dates" }}
    <script>
        const participants = JSON.parse(document.getElementById('participants').textContent);
        const dates = JSON.parse(document.getElementById('dates').textContent);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'events/view_event.js' %}"></script>

    <!-- Title row -->
    <div class="row mb-3 justify-content-center">
        <div class="col-12 event-title-div text-center rounded shadow p-3">{{ event.title }}</div>
    </div>

    <!-- Countdown row -->
    <div class="row mb-3">
        <div class="col-12 mx-auto event-clock-div text-center rounded shadow display-5 p-3 position-relative" id="clockDiv">
            <span class="clockDays">-</span>d 
            <span class="clockHours">--</span>h 
            <span class="clockMins">--</span>m 
            <span class="clockSecs">--</span>s
        </div>
    </div>

    <!-- Event info row -->
    <div class="row mb-4">
        <!-- Event location -->
        <div class="col-12 event-info-div display-5 p-3 shadow rounded">
            {% if event.has_location %}
                <div class="row mb-4">
                    <div class="col">
                        <span class="material-symbols-outlined fs-1 text-danger">location_on</span> 
                        <a href="" id="eventLocation" target="_blank">{{ event.location }}</a>
                    </div>
                </div>
            {% endif %}
            
            <!-- Event date and time -->
            <div class="row mb-4">
                {% for date in event.dates_formatted %}
                    <div class="col-12 mb-2 date-formatted">
                        <span class="material-symbols-outlined fs-1 text-success">event</span><span class="formattedDate">{{ date|date:"d N Y"}}</span>
                        <span class="material-symbols-outlined fs-1 text-success">watch</span><span class="formattedTime">{{ date|time:"G:i"}}</span>
                    </div>
                {% endfor %}
            </div>
            
            <!-- Event participants -->
            <div class="row mb-4">
                <div class="col-4 mb-4">
                    <span class="material-symbols-outlined fs-1 text-warning">group</span> 
                    {{ event.participants|length }}
                </div>
                <div class="w-100"></div>
                <div class="d-grid col-6 col-lg-5 p-1 mx-auto">
                    <button type="button" class="btn btn-light btn-lg" data-bs-target="#modalList" data-bs-toggle="modal">
                        <span class="material-symbols-outlined">list_alt</span>
                        {% translate "List" %}
                    </button>
                </div>
                {% if event.settings.add_participant %}
                    <div class="d-grid col-6 col-lg-5 p-1 mx-auto">
                        <button type="button" class="btn btn-light btn-lg" data-bs-target="#modalParticipate" data-bs-toggle="modal" id="btnParticipate">
                            <span class="material-symbols-outlined">person_add</span>
                            {% translate "Participate" %}
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Chart area  -->
    <div class="row p-2 mb-3 event-chart-div shadow rounded" id="chartAreaDiv">
        <div class="col-12 col-lg-4 p-0 mb-3">
            <div class="position-relative p-4">
                <canvas id="totChart"></canvas>
            </div>
        </div>
        <div class="col-12 col-lg-8 p-0 mb-3">
            <div class="position-relative p-2">
                <canvas id="datesChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Modal to see participant list -->
    <div class="modal modal-xl fade" id="modalList" tabindex="-1">
        <div class="modal-dialog rounded">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">
                    <span class="material-symbols-outlined">group</span>
                     {% translate "Participant list" %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row overflow-auto">
                        <table class="table table-striped" id="tableParticipants">
                            <thead>
                                <tr>
                                    <th><span class="material-symbols-outlined">person</span></th>
                                    {% for date in event.dates %}
                                        <th>{{ date }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in event.participants %}
                                    <tr>
                                        <td>{{ participant.name }}</td>
                                        {% for date in event.dates %}
                                            <td><input class="form-check-input" type="checkbox" value="{{date}}" {% if date in participant.dates%} checked {% endif %} 
                                                {% if not event.settings.edit_participant %}disabled{% endif %}></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    {% if event.settings.edit_participant %}
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCancelAddParticipant">
                            <span class="material-symbols-outlined">delete</span> {% translate "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-primary" id="btnSaveParticipants">
                            <span class="material-symbols-outlined">save</span> {% translate "Save" %}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if event.settings.add_participant %}
        <!-- Modal to add a new participant -->
        <div class="modal fade" id="modalParticipate" tabindex="-1">
            <div class="modal-dialog rounded">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="material-symbols-outlined">person_add</span> {% translate "Join event" %}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="newPartName" maxlength="30" autocomplete="off" required>
                            <label for="newPartName">{% translate "Name" %}</label>
                        </div>
                        <h4>{% translate "Preferences" %}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <span class="material-symbols-outlined">delete</span> {% translate "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-light" id="btnConfirmParticipate">
                            <span class="material-symbols-outlined">person_add</span> {% translate "Join" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}