/* CSS variables for LIGHT MODE */
:root {
    --body-bg-color: rgb(96, 138, 252);
    --color: black;
    --input-bg-color: rgba(255,255,255,.8);
    --navbar-bg-color: white;
    --section-bg-color: rgba(255,255,255,.5);
}

/* CSS variables for DARK MODE */
.dark-mode {
    --body-bg-color: rgb(44, 44, 44);
    --color: white;
    --input-bg-color: rgba(0,0,0,.8);
    --navbar-bg-color: black;
    --section-bg-color: rgba(0,0,0,.4)
}

/* CSS animations */
@keyframes introAnimation {
    0% {
      opacity: 0;
      position: relative;
      left: -50%;
    }
    75% {
      position: relative;
      opacity: 1;
      left: 5%;
    }
    100% {
      position: relative;
      opacity: 1;
      left: 0%;
    }
}

@keyframes shakeAnimation {
    0% {left: -.5%;position:relative;}
    50% {left: .5%;position:relative;}
    100% {left: 0%;position:relative;}
}

@keyframes fadeInAnimation {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

nav {
    background-color: var(--navbar-bg-color);
    transition: background-color 1s ease;
}

.cursor-pointer {
    cursor: pointer;
}

.intro-animated {
    animation-name: introAnimation;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

.appearing {
    animation-name: fadeInAnimation;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.shaking {
    animation-name: shakeAnimation;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-play-state: running;
}

body {
    color: var(--color);
    background-color: var(--body-bg-color);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(11,11,172,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: .5em;
    transition: background-color 2s ease;
}

.loading-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
  }

.section {
    background-color: var(--section-bg-color);
    margin-bottom: 1em;
    min-height: 30em;
    word-wrap: break-word;
}

input, .form-control, input:focus, .form-control:focus {
    color: var(--color);
    border-color: transparent;
    background-color: var(--input-bg-color);
}

.modal div {
    background-color: var(--body-bg-color);
}

.event-title-div {
    background-color: var(--section-bg-color);
    font-size: 3rem;
    align-items: center;
    word-wrap: break-word;
}

.event-tot-div {
    background-color: var(--section-bg-color);
}

.event-info-div {
    background-color: var(--section-bg-color);
}

.event-chart-div {
    background-color: var(--section-bg-color);
}